.player-card {
  height: 90px;
  width: 60px;
  border: 4px solid green;
  display: inline-block;
}

.player-card:hover {
 box-shadow: 0 0 10px 5px rgba(203, 250, 0, 0.8);
 cursor: pointer;
}

.goodCard, .badCard {
  background-color: white;
  background-image: url('/images/good-apple.jpg');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.7), -1px -1px 4px rgba(0,0,0,.5);
}

.goodCard:hover, .badCard:hover {
  box-shadow: 4px 4px 8px rgba(0,0,0,.7), -2px -2px 8px rgba(0,0,0,.5);
  transform: scale(1.05);
}

.badCard {
  background-image: url('/images/bad-apple.jpg');
}

